<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roommate App</title>
    <link href="/static/css/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body class="bg-gray-100 text-gray-900 font-sans p-8">
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-6">
        <h1 class="text-2xl font-bold text-indigo-600 mb-4">Apartment Dashboard</h1>

        <div id="content">
            {{template "content" .}}
        </div>
    </div>
</body>

</html>
